<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/trails.css">
</head> 
<body>
<div id="background">
	<div id="map_header"></div>
	<div id="narrow_long">
	<ul>
	{% for item in the_list %}
		<li class="item" data-activity="{{item.activity}}" data-uid="{{item.uid}}">{{item.date.strftime('%B %d, %Y %I:%M %p')}}</li>
	{% endfor %}
	</ul>
	</div>
	<div id="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key={{KEY}}"></script>
<script src="/static/js/gmaps.js"></script>
</body>
</html>
