<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/trails.css">
</head> 
<body>
<div id="background">
	<div id="narrow_long">
	<ul>
	{% for item in the_list %}
		<!-- <li onClick="map.addKmlLayer('/kml?uid={{item.uid}}')>{{item.date}}:{{item.name}}</li> -->
		<li class="item" onClick="map.addKmlLayer('http://54.69.189.73/kml/{{item.uid}}/doc.kml'); selectItem(this);">{{item.date}}:{{item.name}}</li>
	{% endfor %}
	</ul>
	</div>
	<div id="map"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key={{KEY}}"></script>
<script src="/static/js/gmaps.js"></script>
</body>
</html>


